.card-list-container {
  /* min-height: 88.1vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 1.5rem;
  row-gap: 2rem;
  padding: 2.5rem;
}

.access-restricted-logo {
  width: 15rem;
}

.restricted-container {
  position: absolute;
  top: 163%;
}
